@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    @*<div class="col-md-12">
            <h1>ASP.NET</h1>
            <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        </div>*@
    <div class="col-md-12">
        <h2>Your Messages</h2>
        <span id="messages" class="warning"></span>
        <hr />

        <div class="form-group">
            <label for="UserName">User Name:</label>
            <input type="text" class="form-control" id="toUser" value="" placeholder="User name" />
        </div>
        <div class="form-group">
            <label for="pwd">Message:</label>
            <input type="text" class="form-control" id="myMessage" value="" placeholder="message" />
        </div>

        <button type="submit" class="btn btn-default" id="submit">Submit</button>

    </div>
</div>
<hr />
@*<div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>*@

@section scripts{
    <script src="~/Scripts/jquery.signalR-2.4.2.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var userName = '@ViewBag.UserName';
            function setTotalNotification(totalNotif) {
                console.log(totalNotif);
                //alert(totalNotif);
                var html = "";
                $.each(totalNotif, function (index, value) {
                    html += "<p>" + value.SenderName + " : " + value.Message + "</p>";
                });
                $("#messages").html(html);
            }

        var hub = $.connection.notificationHub;
        $.connection.hub.qs = { "userName": userName };

        //Server Sent Event
        hub.client.broadcaastNotif = function (totalNotif) {
            setTotalNotification(totalNotif)
        };

        $.connection.hub.start()
            .done(function () {
                console.log("Hub Connected!");
                //Client Call to Server
                hub.server.getNotification();
            })
            .fail(function () {
                console.log("Could not Connect!");
            });
    });
    </script>
    <script type="text/javascript">
        $("#submit").click(function (e) {
            e.preventDefault();

            var message = $("#myMessage").val();
            var sendtouser = $("#toUser").val();

            //$("#messages").append("<p>" + message + "</p>");

            var Notification = { UserName: sendtouser, Message1: message, SentBy: '@ViewBag.UserId' };

            $.ajax({
                type: "POST",
                url: "/api/Values/SendNotification",
                data: JSON.stringify(Notification),
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    //reset field
                    $("#myMessage").val("");
                },
                error: function () {
                    /*alert("Error occured!!")*/
                }
            });

        });
    </script>
}